<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.crudtutorial.mapper.PostMapper">
    <select id="fetchPosts" resultType="com.mybatis.crudtutorial.domain.PostDomain">
        SELECT posts.* FROM posts
    </select>

</mapper>